<div class="main_container">
<!-- HEADER HTML -->
		<header div="header_container">
			<img src="/assets/headertext1.png"class="img-responsive" id="header_text" alt="Responsive image">
		</header>

<!-- NAV BAR HTML -->
	<nav class="navbar navbar-default" role="navigation">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">n&b</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li class="active"><a href="#">VENUE</a></li>
	        <li><a href="#">RSVP</a></li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">DROPDOWN <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <li><a href="#">Action</a></li>
	            <li><a href="#">Another action</a></li>
	            <li><a href="#">Something else here</a></li>
	            <li class="divider"></li>
	            <li><a href="#">Separated link</a></li>
	            <li class="divider"></li>
	            <li><a href="#">One more separated link</a></li>
	          </ul>
	        </li>
	      </ul>
	<!-- 	      <form class="navbar-form navbar-left" role="search">
	        <div class="form-group">
	          <input type="text" class="form-control" placeholder="Search">
	        </div>
	        <button type="submit" class="btn btn-default">Submit</button>
	      </form> -->
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="#">LINK</a></li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">DROPDOWN <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <li><a href="#">Action</a></li>
	            <li><a href="#">Another action</a></li>
	            <li><a href="#">Something else here</a></li>
	            <li class="divider"></li>
	            <li><a href="#">Separated link</a></li>
	          </ul>
	        </li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

<!-- SECOND CONTAINER -->
	<div id="second_container">

<!-- CAROUSEL HTML -->
		<div id="carousel-example-generic" class="carousel slide container" data-ride="carousel">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
		    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
		  </ol>

		  <!-- Wrapper for slides -->
		  <div class="carousel-inner">
		    <div class="item active">
		      <img src="/assets/nicoleandbrett-352.jpg" alt="...">
		      <div class="carousel-caption">
		    
		      </div>
		    </div>
		    <div class="item">
		      <img src="/assets/nicoleandbrett-1192.jpg" alt="...">
		      <div class="carousel-caption">
		    
		      </div>
		    </div>
		    <div class="item">
		      <img src="/assets/nicoleandbrett-512.jpg" alt="...">
		      <div class="carousel-caption">
		    
		      </div>
		    </div>
		    <div class="item">
		      <img src="/assets/nicoleandbrett-1832.jpg" alt="...">
		      <div class="carousel-caption">
		    
		      </div>
		    </div>
		  </div>

		  <!-- Controls -->
		  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left"></span>
		  </a>
		  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right"></span>
		  </a>
		</div>
<!-- FRENCHIE BREAK -->
			<div class="frenchie_break">
				<img src="/assets/batface2.png" class="img-responsive" id="frenchie_img" alt="Responsive image">
			</div>
<!-- STORY DIV -->
			<div id="story_block" class="container">
				<img src="/assets/boymeetsgirl.png"class="img-responsive" id="" alt="Responsive image">
			</div>

			<div id="chapter_one" class="container">
				
			</div>












		</div>
	</div>
</div>