// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// ALL HEADER STYLING
header {
	background: url(/assets/nicole-brett-151-2.jpg);
	background-size: cover;
	background-attachment: fixed;
	height: 550px;
	width: 100%;
	position: relative;
}
@media screen and (max-width: 960px) {
	header {
		width: 960px;
	}
}
@media screen and (max-width: 758px) {
	header {
		width: 758px;
	}
}
@media screen and (max-width: 524px) {
	header {
		width: 524px;
	}
}
#header_text {
	position: relative;	
	z-index: 10;
}
.img-responsive {
	margin-left: auto;
	margin-right: auto;
	padding-top: 20%;
}

// NAVBAR STYLING
.navbar {
	width: 100%;
	margin: 0px;
}

// SECOND CONTAINER STYLING
#second_container {
	background: rgb(230,230,230);
	// background: url(/assets/bg/bricks.png);
	position: relative;
}

// BACKGROUND BREAK STYLING
#break1 {
	height: 600px;
	width: 100%;
	background: url(/assets/break1.jpg);
	background-attachment: fixed;
}
#break2 {
	height: 600px;
	width: 100%;
	background: url(/assets/break2.jpg);
	background-attachment: fixed;
}
#break3 {
	height: 600px;
	width: 100%;
	background: url(/assets/break3.jpg);
	background-attachment: fixed;
}
#break4 {
	height: 600px;
	width: 100%;
	background: url(/assets/break4.jpg);
	background-attachment: fixed;
}
#break5 {
	height: 600px;
	width: 100%;
	background: url(/assets/break5.jpg);
	background-attachment: fixed;
}
#break6 {
	height: 600px;
	width: 100%;
	background: url(/assets/break6.jpg);
	background-attachment: fixed;
}


// BRIDE GROOM BIOS
#third_container {
	background-color: #F7D6C7;
}
#bride_bio {
	border: 5px solid #DADCDF;
	display: block;
	height: 450px;
	background: white;
}
#fourth_container {
	background-color: rgb(171,221,198);
}
#groom_bio {
	border: 5px solid #DADCDF;
	display: block;
	height: 450px;
	background: white;
}

// PARTY GRID STYLING
#fifth_container {
	background: #EFF3FF;
}
#party_grid {
	position: relative;
	height: 641px;
	width: 970px;
	border: 5px solid #DADCDF;
	// margin-top: 80px;
	padding: 0;
}
.grid_box {
	height: 153px;
	width: 156px;
	display: inline-block;
	margin-top: 4px;
	text-align: center;
}
.brett_grid_box {
	background: url(/assets/backgrid_bluepastel.png);
}
.nicole_grid_box {
	background: url(/assets/Flamingo-I-Katherine-Jury1.jpg);	
}
// HIGHLIGHT HOVERING GRIDS
.hover {
	background-color: yellow;
}
// ALL BRETT'S SIDE ROLES
#bretts_side {
	position: absolute;
	top: 0;
	left: 0;
	height: 624px;
	width: 320px;
}
#barry {
	padding-top: 62px;
}
#jodell {
	padding-top: 62px;
}
#brett {
	padding-top: 62px;
}
#travis {
	padding-top: 62px;
}
#kevin {
	padding-top: 62px;
}
#brandon {
	padding-top: 62px;
}
#matt {
	padding-top: 62px;
}
#ian {
	padding-top: 62px;
}
// ALL NICOLE'S SIDE ROLES
#nicoles_side {
	position: absolute;
	top: 0;
	right: -4px;
	height: 624px;
	width: 320px;
}
#janet {
	padding-top: 62px;
}
#mark {
	padding-top: 62px;
}
#kelly {
	padding-top: 62px;
}
#lisa {
	padding-top: 62px;
}
#kathleen {
	padding-top: 62px;
}
#kristina {
	padding-top: 62px;
}
#yuri {
	padding-top: 62px;
}
#kim {
	padding-top: 62px;
}
// DISPLAY BOX
.disp_class {
	height: 466px;
	width: 310px;
	position: absolute;
	top: 0;
	margin-left: 325px;
	margin-top: 5px;
	background: white;
}
// ALL TINY SIDE ROLES
#tiny_side {
	position: absolute;
	bottom: 0;
	margin-left: 322px;
	margin-bottom: 3px;
	text-align: center;
	padding-top: 68px;
}
#bat {
	padding-top: 62px;
}
#makenzie {
	padding-top: 62px;
}
// ALL DISPLAY BOX CONDITIONAL CLASSES
.bat_display {
	background: url(/assets/c6y5h.gif);
	background-repeat: no-repeat;
}
.kenz_display {
	background: url(/assets/c6iet.gif);
	background-repeat: no-repeat;
}
.brett_display {
	background: url(/assets/c6ltm.gif);
	background-repeat: no-repeat;
}
.kevin_display {
	background: url(/assets/c6lxc.gif);
	background-repeat: no-repeat;	
}
.brandon_display {
	background: url(/assets/c6ni9.gif);
	background-repeat: no-repeat;	
}
.ian_display {
	background: url(/assets/c6lp7.gif);
	background-repeat: no-repeat;		
}
.kristina_display {
	background: url(/assets/c6iug.gif);
	background-repeat: no-repeat;	
}
.jodell_display {
	background: url(/assets/c6ned.gif);
	background-repeat: no-repeat;	
}	
.barry_display {
	background: url(/assets/c6xf7.gif);
	background-repeat: no-repeat;	
}	
.janet_display {
	background: url(/assets/c6lhn.gif);
	background-repeat: no-repeat;	
}
.lisa_display {
	background: url(/assets/c6nuy.gif);
	background-repeat: no-repeat;	
}
.yuri_display {
	background: url(/assets/c6iyx.gif);
	background-repeat: no-repeat;	
}
.kim_display {
	background: url(/assets/c6nax.gif);
	background-repeat: no-repeat;	
}
.kathleen_display {
	background: url(/assets/c6noq.gif);
	background-repeat: no-repeat;		
}
.kelly_display {
	background: url(/assets/c6xlp.gif);
	background-repeat: no-repeat;		
}

// LOGISTICS STYLING
#sixth_container {
	background: #FFD9D9;
}
#logistics {
	border: 5px solid #DADCDF;
	display: block;
	height: 450px;
	background: white;
}

// REGISTRY STYLING
#seventh_container {
	background: #FFFFE0;
}
#registry {
	border: 5px solid #DADCDF;
	display: block;
	height: 450px;
	background: white;
}

// RSVP STYLING
#eighth_container {
	background: #E0FFFF;
}
#rsvp {
	border: 5px solid #DADCDF;
	display: block;
	height: 450px;
	background: white;
}


