// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// ALL HEADER STYLING
header {
	background-image: url('/assets/nicole-brett-151-2.jpg');
	background-size: cover;
	background-attachment: fixed;
	height: 550px;
	width: 100%;
	position: relative;
}
@media screen and (max-width: 960px) {
	header {
		width: 960px;
	}
}
@media screen and (max-width: 758px) {
	header {
		width: 758px;
	}
}
@media screen and (max-width: 524px) {
	header {
		width: 524px;
	}
}
#header_text {
	position: relative;	
	z-index: 10;
}
.img-responsive {
	margin-left: auto;
	margin-right: auto;
	padding-top: 20%;
}

// NAVBAR STYLING
.navbar {
	width: 100%;
	margin: 0px;
}

// SECOND CONTAINER STYLING
#second_container {
	background-image: url('/assets/b&w2.jpg');
	background-attachment: fixed;
	position: relative;
}

// FRENCHIE BREAK STYLING
.frenchie_break {
	height: 100px;
	margin-top: -20px;
}
.frenchie_img {
	padding-top: 0;
	margin-top: 0;
}

// STORY BLOCK STYLING
#story_block {
	border: 5px solid black;
	display: block;
	margin-top: 80px;
	height: 450px;
	background-image: url('/assets/bluepastel.jpg');
	background-attachment: fixed;
}
#chapter_one {
	border: 5px solid black;
	display: block;
	margin-top: 80px;
	height: 800px;
	background-image: url('/assets/bluepastel.jpg');
	background-attachment: fixed;
}

// PARTY GRID STYLING
#party_grid {
	position: relative;
	height: 641px;
	width: 970px;
	border: 5px solid black;
	margin-top: 80px;
	padding: 0;
}
.grid_box {
	height: 153px;
	width: 156px;
	background: grey;
	display: inline-block;
	margin-top: 4px;
	text-align: center;
}
// HIGHLIGHT HOVERING GRIDS
.hover {
	background-color: yellow;
}

#bretts_side {
	position: absolute;
	top: 0;
	left: 0;
	height: 624px;
	width: 320px;
}
// ALL BRETT'S SIDE ROLES
#barry {
	padding-top: 62px;
}
#jodell {
	padding-top: 62px;
}
#brett {
	padding-top: 62px;
}
#travis {
	padding-top: 62px;
}
#kevin {
	padding-top: 62px;
}
#brandon {
	padding-top: 62px;
}
#matt {
	padding-top: 62px;
}
#ian {
	padding-top: 62px;
}

#nicoles_side {
	position: absolute;
	top: 0;
	right: -4px;
	height: 624px;
	width: 320px;
}
// ALL NICOLE'S SIDE ROLES
#janet {
	padding-top: 62px;
}
#mark {
	padding-top: 62px;
}
#kelly {
	padding-top: 62px;
}
#lisa {
	padding-top: 62px;
}
#kathleen {
	padding-top: 62px;
}
#kristina {
	padding-top: 62px;
}
#yuri {
	padding-top: 62px;
}
#kim {
	padding-top: 62px;
}
#display_box {
	height: 466px;
	width: 310px;
	position: absolute;
	top: 0;
	margin-left: 325px;
	margin-top: 5px;
	// background-image: url('/assets/bridalparty.png');
	// background-repeat: no-repeat;
	// background-color: grey;
	// z-index: 1;
}
#tiny_side {
	position: absolute;
	bottom: 0;
	margin-left: 322px;
	margin-bottom: 3px;
	text-align: center;
	padding-top: 68px;
}
// ALL TINY SIDE ROLES
#bat {
	padding-top: 62px;
}
#makenzie {
	padding-top: 62px;
}

// ALL DISPLAY BOX CONDITIONAL CLASSES
.bat_display {
	background-image: url('/assets/c5cfv.gif');
	background-repeat: no-repeat;
}
.kenz_display {
	background-image: url('/assets/c5duc.gif');
	background-repeat: no-repeat;
}
.brett_display {
	background-image: url('/assets/c5ex9.gif');
	background-repeat: no-repeat;
}
.kevin_display {
	background-image: url('/assets/c5cm1.gif');
	background-repeat: no-repeat;	
}
.brandon_display {
	background-image: url('/assets/c5dis.gif');
	background-repeat: no-repeat;	
}
.kristina_display {
	background-image: url('/assets/c5dy1.gif');
	background-repeat: no-repeat;	
}
.jodell_display {
	background-image: url('/assets/c5eff.gif');
	background-repeat: no-repeat;	
}	
.barry_display {
	background-image: url('/assets/c5eff.gif');
	background-repeat: no-repeat;	
}	