// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	background: #e5e5e5;
}
a {
	color: #FFFFFF;
}
ul {
	list-style-type: none;
}

// BUTTON STYLING
#btn_section button {
	display: inline-block;
}
#btn_section {
	margin-top: 15px;
}